*{
    background-color: #272727;
}

.box {
    display: flex;
    border-radius: 10px 30px; /*1*/
    border: 6px solid transparent; /*2*/
    background: linear-gradient(45deg,purple,blue) border-box;
    margin: 10px;
    margin-bottom: 30px;
    padding:6.5px
  }

  img{
    border-radius: 10%;
  }

.logo{

    display: flex;
    flex:0.25;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex: 1;
    color:rgb(252, 252, 252);
    font-family: Pike Regular;
    font-size: 48px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.login-text{
 text-decoration: none;
    color:rgb(252, 252, 252);
    font-family: Pike Regular;
    font-size:18px;
    margin:12px;
}

.separator{
    display: flex;
    padding:100px;
    flex-direction: column;
}

.main-text{
    display: flex;
    flex: 1;
    color:rgb(252, 252, 252);
    font-family: Pike Regular;
    font-size:22px;
    align-items: center;
}

.bp{
    display: flex;
    text-transform: none;    
    border-style: solid;
    padding: 12px;
    color:rgb(252, 252, 252);
    text-decoration: none;
    text-align: center;
}

.button{
    background: none;
    border-width: 2px;
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 450px;
    margin-top: 3px;
    display: block;
    font-family: Pike Regular;
    font-size: 20px;
}

.image-container{
    display: flex;
    flex: 1;
    padding:50px;
}